//https://coolors.co/110821-5603ad-8367c7-36b57b-90dfad-c2f8cb-f0fff1-b0acbc-ce3b56
$main-dark: #110821;
$main: #5603ad;
$main-light: #8367c7;
$accent-dark: #36b57b;
$accent: #90dfad;
$accent-light: #c2f8cb;
$lightest: #f0fff1;
$neutral: #b0acbc;
$alert: #cf3c46;


@import "_bulma_mod.scss"; 