//https://coolors.co/100404-830f0b-cf4121-e38513-f1ad41-f6c666-fff2e0-bdb3ac-2fddf4
$main-dark: #100404;
$main: #710d09;
$main-light: #cf4121;
$accent-dark: #e38513;
$accent: #f1ad41;
$accent-light: #f6c666;
$lightest: #fff2e0;
$neutral: #bdb3ac;
$alert: #2fddf4;


@import "_bulma_mod.scss";