//https://coolors.co/080a21-1c397d-5d6ec0-da4fe3-f498fd-fab8ff-faf1ed-c3bade-f24176
$main-dark: #080A21;
$main: #1c397d;
$main-light: #5d6ec0;
$accent-dark: #da4fe3;
$accent: #f498fd;
$accent-light: #fab8ff;
$lightest: #faf1ed;
$neutral: #c3bade;
$alert: #f24176;


@import "_bulma_mod.scss"; 