//https://coolors.co/13140f-3e3410-766123-839529-b5cb54-e3f48e-f6fde3-c8c5af-fff241
$main-dark: #13140f;
$main: #3e3410;
$main-light: #766123;
$accent-dark: #839529;
$accent: #b5cb54;
$accent-light: #e3f48e;
$lightest: #f6fde3;
$neutral: #c8c5af;
$alert: #fff241;


@import "_bulma_mod.scss";