{% extends 'hyphae_base.html' %}
{% load template_utilities %}
{% block navbar_items %}
    <!-- <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link no-link">
            Inquiries
        </a>
        <div class="navbar-dropdown">
            <a class="navbar-item" href=""><span class="icon"><i class="fa fa-search"></i></span>Search</a>
            <a class="navbar-item" href=""><span class="icon"><i class="fa fa-plus-circle"></i></span>Create</a>
            <a class="navbar-item" href=""><span class="icon"><i class="fa fa-info-circle"></i></span>Details</a>
        </div>
    </div> -->
    <div class="navbar-item has-text-accent">|</div>
    <a class="navbar-item navbar-mainmenu" href="{% url 'gnosis:topic_search' %}">
        {% icon icon_topic %}
        <span class="navbar-mainmenu-text logo-font">Topics</span>
    </a>
    <a class="navbar-item navbar-mainmenu" href="{% url 'gnosis:topic_search' %}">
        {% icon icon_note %}
        <span class="navbar-mainmenu-text logo-font">Notes</span>
    </a>

    {% if user.is_superuser %}
    <div class="navbar-item has-text-accent">|</div>
    <a class="navbar-item navbar-mainmenu" href="{% url 'gnosis:morph_search' %}">
        {% icon icon_morph %}
        <span class="navbar-mainmenu-text logo-font">Morphs</span>
    </a>
    {% endif %}
{% endblock %}
