{% extends 'gnosis/base_old.html' %}
{% load template_utilities static %}
{% block title %}Topic Details{% endblock %}

{% block content %}

<div class="card has-background-primary">
    <div class="card-header has-background-accent">
        <div class="card-header-title">
            <span class="title has-text-primary pl-2">
                {% if object.icon %}
                        {% icon object.icon 'mr-4' %}
                {% else %}
                        {% icon object.morph.icon 'mr-4' %}
                {% endif %}
                {{ object.name }}
            </span>
        </div>
        <div class="is-pulled-right has-text-primary p-1">
            <a href="{% url 'gnosis:topic_edit' pk=object.id %}">
                #{{ object.id }}
                {% icon icon_topic %}
            </a>
        </div>
    </div>
    <div class="card-content has-text-accent-light">
        <div style="position: absolute; right: 0; font-size: 120px;" class="has-text-primary-light pr-5 fa fa-{% if object.icon %}{{ object.icon }}{% else %}{{ object.morph.icon }}{% endif %}"></div>
        <div style="position: relative; z-index: 1;">    
            <div class="has-text-weight-bold tag has-background-primary-light is-medium">
                {{ topic }} - {{ object.morph.name }}
            </div>
            {% for field in object.morph.json_data.fields %}
                <div class="block">
                    <span class="has-text-weight-bold" title="{{ field.type }}">{{ field.name }}: </span>
                    <span>{{ object.json_data|hash:field.name }}</span>
                </div>
            {% endfor %}
            <div class="block">
                <span class="has-text-weight-bold">Tags: </span>
                {% if related_folks %}
                    <br>
                    {% include 'icons/folk.html' %}
                {% endif %}
                {% for r in related_folks %}
                    <a class="tag is-accent has-text-primary" href="{% url 'gnosis:folk_details' pk=r.id %}">
                        <span class="icon pr-1"><i class="fa fa-{% if r.icon %}{{ r.icon }}{% else %}{{ r.morph.icon }}{% endif %}"></i></span>
                        {{ r.name }}
                    </a>
                {% endfor %}

                {% if related_topics %}
                    <br>
                    {% include 'icons/topic.html' %}
                {% endif %}
                {% for r in related_topics %}
                    <a class="tag is-accent has-text-primary" href="{% url 'gnosis:topic_details' pk=r.id %}">
                        <span class="icon pr-1"><i class="fa fa-{% if r.icon %}{{ r.icon }}{% else %}{{ r.morph.icon }}{% endif %}"></i></span>
                        {{ r.name }}
                    </a>
                {% endfor %}

                {% if related_notes %}
                    <br>
                    {% include 'icons/note.html' %}
                {% endif %}
                {% for r in related_notes %}
                    <a class="tag is-accent has-text-primary" href="{% url 'gnosis:note_details' pk=r.id %}">
                        <span class="icon pr-1"><i class="fa fa-{% if r.icon %}{{ r.icon }}{% else %}{{ r.morph.icon }}{% endif %}"></i></span>
                        {{ r.name }}
                    </a>
                {% endfor %}

                {% if not related_folks and not related_topics and not related_notes %}
                    <br>
                    <span class="is-italic">None found</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
